@font-face {
  font-family: "MagicCard";
  src: url(./fonts/mplantin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "MagicCard";
  src: url(./fonts/ModMatrix.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "MagicCard";
  src: url(./fonts/mplantinit.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
