@import "../../SeamDesignSystem.css";

.Editor {
    text-align: center;
    display: flex;
    align-items: center;
    height: 500;
    width: 500;
}

.editorBar {
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 1;
}

button {
    border: 1px solid var(--black);
    border-color: black;
    background-color: white;
    margin: 0.1rem 0.1rem;
}

.texteditor {
    width: 40rem;
}

.DraftEditor-root {
    font-family: "Public Sans";
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 0;
}

.DraftEditor-editorContainer {
    padding: 1.0rem;
}

.public-DraftEditor-content {
    min-height: 20rem;
}

.editor-alignment-center div{
    text-align: center;
}
.editor-alignment-right div{
    text-align: right;
}