.save-modal-button {
    width: 33%;
    font-size: 16px;
    font-weight: bold;
    padding-inline: 4px;
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    font-family: "Public Sans";
    border-radius: 24px;
    border: none;
    text-align: "center";
}

.save-modal-button:hover {
    background-color: #CCFE07;
    color: black;
}

#scroll::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

#scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}