.save-modal-button {
    background-color: #B9D5FF;
    color: #181818;
    float: right;
    display: flex;
    font-family: "Public Sans";
    border-radius: 8px;
    border-color: #B9D5FF;
}

#scroll::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

#scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}